<div [ngClass]="classNames">
  <div class="text-lg mb-2">{{ CompanyName }}</div>
  <components-lib2-nav-item
    *ngFor="let nav of navigations"
    [label]="nav.label"
    [size]="size"
    [showIcon]="showIcon"
    [icon]="nav.icon"
    [theme]="theme"
    [targetUrl]="nav.targetUrl"
    [apiUrl]="nav.apiUrl"
    (navClicked)="navtouched.emit($event)"
  ></components-lib2-nav-item>
  <!-- <button (click)="sizeChange.emit(size)">Button</button> -->
</div>

<!-- <mat-drawer-container class="min-h-screen" autosize>
  <mat-drawer #drawer [ngClass]="classNames" mode="side" opened>
    <div class="text-lg mb-2">Nav Layout</div>
    <components-lib2-nav-item
      *ngFor="let nav of navigations"
      [label]="nav.label"
      [size]="nav.size"
      [icon]="nav.icon"
    ></components-lib2-nav-item>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->
