<!-- <div fxLayout="row" fxLayoutAlign="row wrap" [ngClass]="classNames">
  <div></div>
  <div>{{ label }}</div>
</div> -->

<button
  mat-button
  class="nav-item"
  [ngClass]="['nav-item--' + theme, 'nav-item--' + size]"
  (click)="showToastMessage()"
  [routerLink]="targetUrl"
  routerLinkActive="active"
>
  <span fxFlex fxLayoutAlign="justify-center center">
    <span fxFlex fxLayoutAlign=" center">
      <ng-container *ngIf="showIcon">
        <mat-icon class="mr-2 leading-5 text-base">{{ icon }}</mat-icon>
      </ng-container>
      {{ label }}
    </span>
  </span>
</button>
